HospiEnCasa.App.Consola/bin/
HospiEnCasa.App.Consola/obj/
HospiEnCasa.App.Frontend/bin/
HospiEnCasa.App.Frontend/obj/
HospiEnCasa.App.Persistencia/bin/
HospiEnCasa.App.Persistencia/obj/
HospiEnCasa.App.Dominio/bin/
HospiEnCasa.App.Dominio/obj/
HospiEnCasa.App.Servicios/bin/
HospiEnCasa.App.Servicios/obj/
.vscode/
