<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HospiEnCasa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HospiEnCasa.App.Frontend.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/images/Logo.jpg" alt="Hospital en casa" width="200" height="100" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area=""
                                asp-page="./Pacientes/ListaPacientes">Pacientes</a>
                        </li>
                        <li class="nav-item">
<<<<<<< HEAD
                            <a class="nav-link text-dark" asp-area="" asp-page="./Medicos/ListadoMedicos">Medicos</a>
                        </li>
                        <li class="nav-item">
<<<<<<< HEAD
                            <a class="nav-link text-dark" asp-area="" asp-page="./FamiliaresDesignados/ListaFamiliarDesignado">Lista De Familiares</a>
                        </li>  
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="./SignosVitales/ListadoSignosVitales">Listado de Signos Vitales</a>
                        </li>                                  
=======
                            <a class="nav-link text-dark" asp-area=""
                                asp-page="./Enfermeras/ListadoEnfermeras">Enfermeras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area=""
                                asp-page="./FamiliaresDesignados/ListaFamiliarDesignado">Familiares Designados</a>
                        </li>
>>>>>>> main
=======
                            <a class="nav-link text-dark" asp-area="" asp-page="./Medicos/ListadoMedicos">Listado de Medicos</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="./Enfermeras/ListadoEnfermeras">Listado de Enfermeras</a>
                        </li>                      
>>>>>>> parent of 002b127 (cambios en frontend)
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container2">
        <div class="bg-image" style="
    background-image: url('https://um2012.s3.us-west-2.amazonaws.com/u5699226/visuals/6276f9cc-14c7-40e7-a00f-f397f7f3864b.jpg'); min-height: 70vh;">       
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - HospiEnCasa.App.Frontend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>