<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HospiEnCasa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HospiEnCasa.App.Frontend.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/images/Logo.jpg" alt="Hospital en casa" width="200" height="100" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area=""
                                asp-page="./Pacientes/ListaPacientes">Pacientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="./Medicos/ListadoMedicos">Medicos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area=""
                                asp-page="./Enfermeras/ListadoEnfermeras">Enfermeras</a>
                            <script src="~/js/site.js" asp-append-version="true"></script>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area=""
                                asp-page="./FamiliaresDesignados/ListaFamiliarDesignado">Familiares Designados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area=""
                                asp-page="./SignosVitales/ListadoSignosVitales">Signos Vitales</a>
                        </li>
                    </ul>
                </div>
                <div class ="mr-2" >
                    <partial name="_LoginPartial">
                </div>
            </div>
        </nav>
    </header>
    <div class="container2">
        <div class="bg-image"
            style="background-image: url('https://um2012.s3.us-west-2.amazonaws.com/u5699226/visuals/6276f9cc-14c7-40e7-a00f-f397f7f3864b.jpg'); min-height: 70vh;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - HospiEnCasa.App.Frontend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/sweetalert.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>

        const alerta = document.querySelector('#alerta');

        alerta.addEventListener('click', () => {
            //console.log('diste click');
            toastr.success('Tus datos se han guardado con exito', 'Bien!', {
            "progressBar": true,
            "positionClass": "toast-top-center"
            });
        })  
    </script>

</body>

</html>