@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br>
<br>
<br>
<br>
<div class="d-flex">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">
            <img src="~/images/DoctoraPrincipal.jpg" alt="DoctoraPrincipal" align="end" />
        </a>
    </div>

    <div class="card border-success mb-3" style="max-width: 60rem;">
        <div class="card-header text-center">
            <h3>CUIDAMOS DE TI Y DE TU SALUD</h3>
        </div>
        <div class="card-body">
            <br>
            <br>
            <p class="card-text lead">Nuestra mision es contribuir a que la sociedad sea mas saludable, esto a traves de
                nuestros servicios de atencion medica en casa, este servicio se prestan a personas de todas las edades
            </p>
            <br>
            <br>
            <div class="row w-100 align-items-center">
                <div class="col text-center">
                    <div class="form-outline mb-4">

                    </div>

                    <div class="pt-1 mb-4">
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="mb-2">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" 
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
