@page
@model HospiEnCasa.App.Frontend.Pages.CrearMedicoModel
@{
    ViewData["Title"] = "Crear Medico";
}

<h1>Crear Medico</h1>

<form method="POST" class="row g-3">
    <div class="col-md-6">
        <label asp-asp-for="Medico.Nombre" class="form-label">Nombre</label>
        <input type="text" asp-asp-for="Medico.Nombre" class="form-control" id="Medico.Nombre">
    </div>
    <div class="col-md-6">
        <label asp-for="Medico.Apellido" class="form-label">Apellido</label>
        <input type="text" asp-for="Medico.Apellido" class="form-control" id="Medico.Apellido">
    </div>
    <div class="col-6">
        <label asp-for="Medico.Telefono" class="form-label">Telefono</label>
        <input type="text" asp-for="Medico.Telefono" class="form-control" id="Medico.Telefono"
            placeholder="Fijo o Celular">
    </div>
    <div class="col-6">
        <label asp-for="Medico.Especialidad" class="form-label">Especialidad</label>
        <input type="text" asp-for="Medico.Especialidad" class="form-control" id="Medico.Especialidad">
    </div>
    <div class="col-md-6">
        <label asp-for="Medico.Codigo" class="form-label">Codigo</label>
        <input type="text" asp-for="Medico.Codigo" class="form-control" id="Medico.Codigo">
    </div>
    <div class="col-md-6">
        <label asp-for="Medico.Genero" class="form-label">Genero</label>
        <select id="inputCodigo" asp-for="Medico.Genero" class="form-select">
            <option selected>Seleccione su Opcion</option>
            <option value="0">Masculino</option>
            <option value="1">Femenino</option>
        </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>