@page
@model HospiEnCasa.App.Frontend.Pages.EditarMedicoModel
@{
}

<h1>Editar información del medico</h1>
<h2>@ViewData["Error"]</h2>
<form method="POST" class="row g-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Medico.Id"/>
    <div class="col-md-6">
        <label asp-for="Medico.Nombre" class="form-label">Nombre</label>
        <input type="text" asp-for="Medico.Nombre" class="form-control" id="txtNombre">
        <span asp-validation-for="Medico.Nombre" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Medico.Apellido" class="form-label">Apellido</label>
        <input type="text" asp-for="Medico.Apellido" class="form-control" id="txtApellido">

        <span asp-validation-for="Medico.Apellido" class="text-danger"></span>
    </div>
    <div class="col-6">
        <label asp-for="Medico.Telefono" class="form-label">Telefono</label>
        <input type="text" asp-for="Medico.Telefono" class="form-control" id="txtTelefono" placeholder="Fijo o Celular"> 
    </div>
    <div class="col-6">
        <label asp-for="Medico.Especialidad" class="form-label">Especialidad</label>
        <input type="text" asp-for="Medico.Especialidad" class="form-control" id="txtEspecialidad">
        <span asp-validation-for="Medico.Especialidad" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Medico.Codigo" class="form-label">Codigo</label>
        <input type="text" asp-for="Medico.Codigo" class="form-control" id="txtCodigo">
        <span asp-validation-for="Medico.Codigo" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Medico.Genero" class="form-label">Genero</label>
        <select id="inputCodigo" asp-for="Medico.Genero" class="form-select">
            <option selected>Seleccione su Opcion</option>
            <option value="0">Masculino</option>
            <option value="1">Femenino</option>
        </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
</form>
