@page
@model HospiEnCasa.Frontend.Pages.EliminarSignoVitalModel
@{
}

<h1>Eliminar Signos Vitales</h1>
<h2>@ViewData["Error"]</h2>
<form method="POST" class="row g-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="Reset" value="Borrar todo" asp-for="SignoVital.Id"/>
    <div class="col-md-6">
        <label asp-for="SignoVital.PresionArterial" class="form-label">PresionArterial</label>
        <input type="text" asp-for="SignoVital.PresionArterial" class="form-control" id="txtPresionArterial">
        <span asp-validation-for="SignoVital.PresionArterial" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="SignoVital.Respiracion" class="form-label">Respiracion</label>
        <input type="text" asp-for="SignoVital.Respiracion" class="form-control" id="txtRespiracion">
        <span asp-validation-for="SignoVital.Respiracion" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="SignoVital.Pulso" class="form-label">Pulso</label>
        <input type="text" asp-for="SignoVital.Pulso" class="form-control" id="txtPulso">
        <span asp-validation-for="SignoVital.Pulso" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="SignoVital.Temperatura" class="form-label">Temperatura</label>
        <input type="text" asp-for="SignoVital.Temperatura" class="form-control" id="txtTemperatura">
        <span asp-validation-for="SignoVital.Temperatura" class="text-danger"></span>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
</form>