@page
@model HospiEnCasa.Frontend.Pages.ListadoSignosVitalesModel
@{
    //C#
    ViewData["Title"] = "Listado de signos Vitales";

}

<h1> Listado de Signos Vitales</h1>
<hr>
<a asp-page="CrearsignoVital">Crear SignoVital</a> 

<form method="POST">
    <table class="table table-success table-striped">
        <thead>
            <tr>                
                <th scope="col">id</th>
                <th scope="col">Signo</th>
                <th scope="col">Valor</th>
                <th scope="col">PacienteId</th>
                <th scope="col" colspan="3">Opciones</th>

            </tr>
        </thead>
        <tbody>
    @foreach (var signoVital in Model.SignoVital)
    {
            <tr>
                <td scope="row">@signoVital.Id</td>
                <td>@signoVital.Signo</td>
                <td>@signoVital.Valor</td>
                <td>@signoVital.PacienteId</td>
                <td><a asp-page="">Editar</a></td>
                <td><a asp-page="./VerSignoVital">Detalles</a></td>
                <td><a asp-page="">Eliminar</a></td>
                
            </tr>             
    }
    
        </tbody>
    </table>
</form> 
